h1, h4{
    font-family: "sans-serif";
}

h1{
    position: absolute;
    top: 15%;
    left: 35%;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 27%;
    left: 40%;
}

h4{
    position: absolute;
    top: 55%;
    left: 35%;
}

#generate-btn{
    position: absolute;
    top: 70%;
    left: 45%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

