@font-face {
    font-family: 'Geishta';
    src: url('geishta/Geishta.ttf') format('truetype'),
    url('geishta/Geishta.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'amanojaku';
    src: url('amanojaku/Amanojaku Demo.otf') format('truetype'),
    url('amanojaku/Amanojaku Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'amanojaku';
    text-align: center;
    margin-top: 45px;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 27%;
    left: 20%;
    transition: ease 1s;
}

img:hover{
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
    transform: scale(1.1);
}

body{
    background: #F5F1E3;

}

#generate-btn{
    font-family: 'Geishta';
    position: absolute;
    top: 70%;
    left: 45%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 40px;
    background-color: #FEE577;
    border-color: #FBC71A;
    transition: ease 1s;
}


.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

blockquote{
    font-family: 'Courgette', sans-serif;
    position: absolute;
    top: 27%;
    left: 45%;
    border: 2px solid #1f2937;
    max-width: 700px;
    font-size: 20px;
}

#generate-btn:hover{
    background-color: #ffd103;
    border-bottom-color: black;
    box-shadow: 0px 0px 25px 5px #ffd103;
    transform: scale(1.1);
}


